/* CSS Document for PPS "base.html" page */
body {
background-color: #F4F0FF !important;
height: 100%;
}

/* Set CSS attributes for the body of every page; CSS for individual HTML files can override these. */
main {
    position: absolute;
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}


/* CSS attributes for the Navigation Bar that appears on each page */
nav {
    background-color:#5900b3;
    width:100%;
    height:25%;
}

#pagename {
    font-family:"Helvetica Neue", Helvetica, sans;
    color: #000066;
    font-size:20pt;
    font-weight:700;
    font-variant:small-caps;
    text-align:center;
    background-color:#F4F0FF;
    width:95%;
    padding-top:5px;
    padding-left:15px;
    margin:12px;
    border:7px solid #BA55D3;
    border-radius:10px;
}

#navlist {
    background-color:#5900b3;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding-top: 10px;
}

#navlist li {
    font-family:"Times New Roman", Times, serif;
    font-weight:700;
    text-align:center;
    background-color: #F4F0FF;
    height: 84px;
    border:2px solid #00FFFF;
    border-radius:5px;
    list-style:none;
    min-width:80px;
    flex-basis:70px;
}

#active-link {
    color:navy;
    background-color:#00FFFF;
    border:2px solid #FF00FF;
}


/*  CSS attributes for the "pagespecs" element that appears on each page and the "container" div within same  */
.pagecontent {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
}

#formblock {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

#group_form label, #addr_form label {
    display:none !important;
}

#group_form p:nth-child(2) label, #group_form p:nth-child(3) label, #group_form p:nth-child(9) label,
#group_form p:nth-child(10) label, #group_form p:nth-child(11) label {
    display:inline-block !important;
}

.errorlist {
    list-style: none;
    background-color: none !important;
    text-color: red;
}

.errorlist li {
    color: red;
}


#article_title {
    font-family:"Times New Roman", Times, serif;
    color: #000066;
    font-size:26pt;
    font-weight:700;
    font-variant:small-caps;
    text-align:center;
    position:relative;
    height:7%;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    margin:12px;
    border:7px solid #BA55D3;
    border-radius:10px;
}

h4 {
    font-family:"Times New Roman", Times, serif;
    font-size:22pt;
    text-align:center;
    color:#000000;
    -webkit-margin-after: 0.13em;
}

p {
    font-family:"Times New Roman", Times, serif;
    font-size:18pt;
    text-align:left;
    color:black;
    border:none;
    margin-top:0px;
}

/*  CSS attributes for the "footer" element that appears on each page  */

footer {
    font-family:"Helvetica Neue", Helvetica, sans;
    color:darkblue;
    font-size:12pt;
    font-weight:700;
    font-variant:small-caps;
    text-align:center;
    width: 100%;
    height: 3%;
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: 1px solid #BA55D3;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}

col-lg-12 text-center {
    padding-bottom:5px;
}
