/*          PostPolio_Home.css          */

nav {
    background-color:purple;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:30%;   
}

 table {
    background-color:purple;
    position:relative;
    display:flex;
    flex-direction:row;      
    justify-content:space-between;
}

table-cell {
    font-family:"Helvetica Neue", Helvetica, sans;
    text-align:center;
    color:white;
    background-color:fuchsia;
    width:30%;
    padding:5px;
    margin:50px;
    border:2px solid aqua;
    border-radius:5px;
    list-style:none;
    min-width:80px;
    flex-basis:70px;
}

#first-link {
    color:navy;
    background-color:aqua;
    border:2px solid fuchsia;
}

#container {
    background-color:orchid;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:70%;
}    

#sitename {
    font-family:"Times New Roman", Times, serif;
    color:blue;
    font-size:18pt;
    font-weight:700;
    font-variant:small-caps;
    text-align:center;
    background-color:orchid;
    position:relative;
    width:100%;
    height:5%;
    padding:10px;
    margin:12px;
    border:10px solid #BA55D3;
    border-radius:10px;
}

h4 {
    font-family:"Helvetica Neue", Helvetica, sans;
    text-align:center;
    color:black;
}

p {
    font-family:"Helvetica Neue", Helvetica, sans;
    text-align:left;
    color:black;
    padding:15px;
}