<!DOCTYPE html>


<html>
    <head>

        <title>Post-Polio Syndrome Information and Resources</title>
        <link rel="stylesheet"
              type="text/css"
              href="/static/css/base.css">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- JavaScript and JQuery files -->
        <script src="/static/js/PPS_AccountsApp.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- JQuery UI CSS -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>


    <body>

        <main>
        <nav role="navigation">
            <div>
                {% include 'nav.html' %}

                <div id="pagename">
                    <span>{% block title %}Post-Polio Syndrome{% endblock %}</span>
                </div>  <!-- /.id -->
            </div>
        </nav>

        <div class="pagecontent">
            {% block pagespecs %}

            {% endblock %}
        </div>


        <footer>
            <div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <pre>Copyright &copy; Suki L. McDonough 2016</pre>
                    </div>
                </div>
            </div>

        </footer>
        </main>
    </body>

    {% block jscripts %}
            <!-- JavaScript and JQuery files -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/static/js/PPS_AccountsApp.js"></script>
    {% endblock %}

    </html>
<!--TODO: Create Site Map -->