<!DOCTYPE html>


<html>
    <head>

        <title>Post-Polio Syndrome Information and Resources</title>
        <link rel="stylesheet"
	           type="text/css"
	           href="/static/css/base.css">

    </head>


    <body>

        <nav>
            <div id="pagename">
                <span>{% block title %}Post-Polio Syndrome{% endblock %}</span>
            </div>

            {% include 'nav.html' %}
        </nav>

        {% block pagespecs %}

        {% endblock %}

    </body>


    <footer>
        {% block jscripts %}
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        {% endblock %}
    </footer>

</html>