<!--  Member Account creation form  -->

{% extends 'base.html' %}

{% block title %}
Create a Member Account
{% endblock %}

{% block pagespecs %}

    <form action="{% url 'grp_reg' %}" method="post">

        <div id="formblock">
            {% csrf_token %}

            <div id="member_form">
                {{ registration.as_p }}
            </div> <!-- end 'entity_form' -->


            <div id="addr_form">
                {{ address.as_p }}
                <input class="btn btn-primary" type="submit" value='Create Member Account'>
            </div> <!-- end 'addr_form' -->

        </div> <!-- end 'formblock' -->

    </form>

{% endblock %}