{% extends 'base.html' %}


{% block title %}
{{ 'Post-Polio Support Groups' }}
{% endblock %}


{% block pagespecs %}
        
<div id='container'>

    <div id='h4'>
        {{ page.resource_title }}
    </div>

    <p>
        {{ page.resource_listing }}
    </p>

    <ul>
    {% for ipsp in ip_sppt_grps %}
        <li>{{ ipsp }}</li>
    {% endfor %}
    </ul>


    <ul>
    {% for aosp in all_other_sppt_grps %}
        <li>{{ aosp }}</li>
    {% endfor %}
    </ul>
</div>

{% endblock %}