<!--  Member Account creation form  -->

{% extends 'base.html' %}

{% block title %}
Create a Support Group Listing
{% endblock %}

{% block pagespecs %}

    <form action="{% url 'grp_reg' %}" method="post">

        <div id="formblock">
            {% csrf_token %}

            <div id="entity_form">
                {{ grp_reg.as_p }}
                
            </div> <!-- end 'entity_form' -->


            <div id="addr_form">
                 {{ address.as_p }}
                 <input class="btn btn-primary" type="submit" value='Create Support Group Listing'>
            </div> <!-- end 'addr_form' -->

            </div> <!-- end 'formblock' -->

    </form>
{% endblock %}