<!--  Error on invalid login attempt  -->

{% extends 'base.html' %}


{% block nav %}

    {% include 'nav.html' %}
    <div id="pagename">
        Invalid Login
    </div>

{% endblock %}


{% block pagespecs %}

<div id='container'>

    <h4>Your Login Data is invalid!</h4>
    <p>The combination of Username and Password you provided does not match any of the records in our database. Please
       check the information you gave us, then re-enter your Username and Password in the dialog below.
       If you are not already a Member of this site, please on the "Create Account" button shown below to join.</p>

    <div>
        {% include 'login_dialog.html' %}
    </div>



</div>

{% endblock %}