<!--  Login Dialog to appear on "unauth_error.html" and other pages  -->

  <script>
    
      document.getElementById("Login").addEventListener("click", function(evt){
      ("#login_dialog").dialog();
      })

  </script>
  
  <div id='login_dialog' title='Login'>
      <form method='POST' action=''>
          {{ login_dialog.as_table }}
          <input id='login' type='submit' value="Login"/>
      </form>
  </div>


   <div id='nonmember' title='Create Account'>
      Not a Member yet?
      <a href="/member/create">Create New Member Account</a>
  </div>