<!--          PPS Page Navigation Bar HTML file          -->



            <!-- Brand and toggle get grouped for better mobile display
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>  TODO: This is not working as expected; find problem and fix.
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed
            <a class="navbar-brand" href="index.html">Polio Support NW Navigation</a>
        </div> //-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div><!--  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"-->
            <ul id="navlist"><!-- class="nav navbar-nav"-->
                <li><a href="/">About Post-Polio Syndrome</a></li>
                <li><a href="/maillist_reg/">Join Our Mailing List</a></li>
                <li><a href="/find_sppt_grp/">Find a Support Group</a></li>
                <li><a href="/create_sppt_grp/">Register a Support Group</a></li>
                <li><a href="/chat/">Chat with other Polio Survivors</a></li>
                <li><a href="/resources/">Resources</a></li>
                <li><a href="/contact/">Contact Us</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="/logout_view/">Logout</a></li>
                    {% else %}
                        <li><a href="/login_dialog/">Member Login</a></li>
                    {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
