{% extends 'base.html' %}


{% block title %}
    About Post-Polio Syndrome
{% endblock %}


{% block pagespecs %}
        
<div id='container'>
    <div id='article_title'>
        What is Post-Polio Syndrome?
    </div>

        <p>Post-Polio Syndrome (PPS) is a secondary result of having had an acute paralytic viral poliomyelitis
        infection earlier in life. It appears to occur in between 25 and 60 percent (depending on which study is
        referenced) of Polio Survivors, typically following an extended period of relatively high post-recovery function.
        The syndrome is characterized by symptoms of increasing weakness/loss of function in muscle groups previously
        affected by the acute infection, which may be accompanied by sudden and/or severe fatigue (often requiring
        unusually long recovery periods) following what had previously been 'everyday' activities. Sometimes, survivors
        also encounter new problems with deterioration of posture, balance, breathing, and/or swallowing.</p>
</div>

{% endblock %}