{% extends 'base.html' %}


{% block nav %}

{% include 'nav.html' %}

{% endblock %}


{% block pagespecs %}
        
<div id='container'>
    <div id="pagename">
        About Post-Polio Syndrome
    </div>

        <h4>What is Post-Polio Syndrome?</h4>
        <p>Post-Polio Syndrome (PPS) is a secondary result of having had an acute paralytic viral poliomyelitis
            infection earlier in life. It appears to occur in between 25 and 60 percent (depending on which study is
            referenced) of Polio Survivors, and is characterized by symptoms of increasing weakness/loss of function
            in muscle groups previously affected by the acute infection, severe and/or sudden fatigue (often
            requiring unusually long recovery periods) following what used to be 'everyday' activities, and problems
            with deterioration of posture, balance, breathing, and/or swallowing.</p>
</div>

{% endblock %}